{% extends '../layouts/base.html' %}

{% block content %}

<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <a href="#" class="button tiny radius">Preview</a>
      <nav class="left breadcrumbs tabs" data-tab>
        <a href="#guidelines" class="">Guidelines</a>
        <a href="#the-basics" class="unavailable">Basics</a>
        <a href="#rewards" class="unavailable">Rewards</a>
        <a href="#the-story" class="unavailable">Story</a>
        <a href="#about-you" class="unavailable">About you</a>
        <a href="#account-setup" class="unavailable">Account</a>
        <a href="#submission" class="unavailable">Review</a>
      </nav>

      <div class="tabs-content">
        <div class="content active" id="guidelines">
          <div class="help-panel">
            <h5>Kickstarter is a funding platform for creative projects.</h5>
            <p>These are our guidelines:</p>
          </div>
        </div>

        <div class="content" id="the-basics">
          <div class="help-panel">
            <h5>Meet your new project.</h5>
            <p>Start by giving it a name, a pic, and other important details.</p>
          </div>
        </div>

        <div class="content" id="rewards">
          <div class="help-panel">
            <h5>Every project needs great rewards.</h5>
            <p>Be creative and price them fairly. Explore other projects for inspiration!</p>
          </div>
        </div>

        <div class="content" id="the-story">
          <div class="help-panel">
            <h5>It’s not just a project, it’s a story.</h5>
            <p>Tell it with a video. It doesn’t have to be fancy, it just has to be you.</p>
          </div>
        </div>

        <div class="content" id="about-you">
          <div class="help-panel">
            <h5>Now a little bit about you.</h5>
            <p>Tell people who you are! Supporting links are always nice.</p>
          </div>
        </div>

        <div class="content" id="account-setup">
          <div class="help-panel">
            <h5>Some housekeeping.</h5>
            <p>Get your account verified and ready to receive pledges.</p>
          </div>
        </div>

        <div class="content" id="submission">
          <div class="help-panel">
            <h5>The homestretch!</h5>
            <p>Once everything is in place, submit your project for review.</p>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

  </div>
</div>

{% endblock %}

